<section class="py-5" style="background-color: #f4f0fa;">
	<div class="container">
		<h1 class="text-center mb-4 text-primary">Про розробника</h1>
		<div class="row justify-content-center">
			<div class="card shadow-lg border-0" style="max-width: 350px;">
				<img src="/images/157012_v9_bc.jpg" class="card-img-top rounded-top" alt="Єгор Трифоуцан">
					<div class="card-body text-center" style="background-color: #e8e2f6;">
						<h5 class="card-title" style="color: #6a0dad;">Єгор Трифоуцан</h5>
						<p class="card-text" style="color: #4b0082;">Цей блог був створений для демонстрації MVC-додатка.</p>
						<a href=""
							<%= githubLink %>" class="btn" style="background-color: #6a0dad; color: white;" target="_blank">Go GitHub
						</a>
					</div>
				</div>
		</div>
	</div>
</section>

